aiohttp==3.8.4
aiosignal==1.3.1
anyio==3.6.2
async-timeout==4.0.2
attrs==22.2.0
Brotli==1.0.9
charset-normalizer==3.0.1
click==8.1.3
colorama==0.4.6
Deprecated==1.2.13
fastapi==0.92.0
frozenlist==1.3.3
h11==0.14.0
idna==3.4
limits==2.8.0
multidict==6.0.4
orjson==3.8.6
packaging==22.0
pydantic==1.10.5
PyExecJS==1.5.1
pywebio==1.7.1
six==1.16.0
slowapi==0.1.7
sniffio==1.3.0
starlette==0.25.0
tenacity==8.2.1
tornado==6.2
typing_extensions==4.5.0
ua-parser==0.16.1
user-agents==2.2.0
uvicorn==0.20.0
wrapt==1.15.0
yarl==1.8.2
