Babel==2.9.1
beautifulsoup4==4.10.0
bs4==0.0.1
certifi==2021.10.8
charset-normalizer==2.0.7
click==8.0.3
cloudscraper==1.2.58
colorama==0.4.4
Faker==10.0.0
Flask==2.0.2
Flask-Babel==2.0.0
gunicorn==20.1.0
idna==3.3
itsdangerous==2.0.1
Jinja2==3.0.3
MarkupSafe==2.0.1
pyparsing==3.0.6
python-dateutil==2.8.2
pytz==2021.3
pywebio==1.4.0
requests==2.26.0
requests-toolbelt==0.9.1
retrying==1.3.3
six==1.16.0
soupsieve==2.3.1
text-unidecode==1.3
tiktok-downloader==0.3.1
tornado==6.1
ua-parser==0.10.0
urllib3==1.26.7
user-agents==2.2.0
Werkzeug==2.0.2
